extends layout

block content
  h1=title
  div(class='container' style="text-align: center;")
        button.btn( onclick=`dispatch(\"/Aeroplane/create\")`) Create
  - var s = [{"travel_name":"klm", "travel_price":160,"travel_type":"first_class"},{"travel_name":"delta", "travel_price":200,"travel_type":"second_class"},{"travel_name":"America Airlines", "travel_price":300,"travel_type":"business"}]
  h1= title
  - let result=results
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            div(class="row-sm-2", class="m-1") "travel" Name: #{item.travel_name}<br>travel price: #{item.travel_price}<br>(travel type: #{item.travel_type})<br>
              button.btn(onclick=`dispatch(\"/Aeroplane/detail?id=${item._id}\")`) View
              button.btn(onclick= `dispatch(\"/Aeroplane/update?id=${item._id}\")`) Update
              button.btn(onclick= `dispatch(\"/Aeroplane/delete?id=${item._id}\")`) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }